/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


$custom-typography: mat-typography-config(
  $font-family: 'Montserrat',
  );
  
  @include angular-material-typography($custom-typography);
  @include mat-core($custom-typography);



* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  margin-bottom: 4rem;
  
}

.toolbar img {
  margin: 0 16px;
}

.logo-wrapper{
  margin-left: 1.5rem; 
}

.button-wrapper{
  margin-right: 1.5rem;
}
button.mat-raised-button{
  margin-left: .5rem;
}
.content {

  margin-top: 6rem;
  display: flex;
  justify-content: center;

}





